---
---

<footer class="mobilenav">
  <a class="footerlink" href="/">Home</a>
  <a class="footerlink" href="/shop">Shop</a>
  <a class="footerlink" href="/orders">Orders</a>
  <a class="footerlink" href="/cart">Cart</a>
  <a class="footerlink" href="/account">Account</a>
</footer>

<style>
  .mobilenav {
    background-color: #eaeaea;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footerlink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 45, 45); /* blue colors for links too */
  }
</style>
